#page-work {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, var(--color-dark-blue), var(--color-pure-blue));
    overflow-x: hidden;
}

.body-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    width: 90%;
    background-color: rgba(0,0,0,0.6);
    color: aliceblue;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.6rem;
    border-radius: 2rem;
}

.description {
    text-align: justify;
}

@media (min-width: 1100px) {
    #page-work {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .page-header {
        width: 70%;
    }

    .page-header .top-bar-content {
        width: 70%;
    }
    
    .top-bar-container {
        width: 70%;
    
    }

    .body-container {
        width: 70%;
    }
    
    .body-content {
        width: 70%;
    }

    
}