.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  margin-top: 1.6rem;

}

.top-bar-container .header-name {
  font: 400 2rem Poppins;
}

.top-bar-container a {
  transition: opacity 0.2s;
}

.top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-content {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  color: aliceblue;
  font:  700 3.7rem Archivo;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
